.food_container{
    padding-top: 40px;
}

.menu_categories{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    color: var(--white);
    flex-wrap: wrap;
}

.category_button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.3rem;
    position: relative;
    color: var(--white);
  }

  .category-button.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: yellow;
    position: absolute;
    bottom: -5px;
    left: 0;
  }

  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
  }