node_modules
.env.local
node_modules/
.next/
.swc/
.*.env
out/

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.*.local
.env.test.local
.env.production.local

# Editor
.vscode/
*.swp
*.swo
*.swn
*.bak
*.orig

# OS
.DS_Store
Thumbs.db