.base{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  overflow: auto;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../public/oazis-background.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(8px);
  }

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

.container {
  flex: 1;
  overflow: none;
  padding-top: 6rem;
  margin-bottom: 0rem;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  max-width: 90rem;
  height: 80vh;
  z-index: 9999;
  position: relative;
}