.container {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	padding: 0 2rem;
	background-color: var(--grey);
	color: var(--textColor);
	z-index: 3;
	background-color: transparent; 
	transition: all 0.1s ease-in-out;
}

.scrolled {
	height: 90px;
	background-color: rgba(0, 0, 0);
	
  }

.nav_title{
	font-size: 1.3rem;
	font-weight: 700;
	color: var(--white);
	text-decoration: none;
}

.nav_a {
	font-size: 1.3rem;
	font-weight: 700;
	margin: 0 1rem;
	color: var(--white);
	text-decoration: none;
}

.nav_a:hover {
	color: gold;
}


.container_nav_btn {
	padding: 2px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--white);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.container_div_nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	.container{
		z-index: 4;
	}
	.container_nav_btn {
		visibility: visible;
		opacity: 1;
	}

	.container_nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 2rem;
		background-color: #22252f;
		transition: 0.5s;
		transform: translateX(100%);
	}

	.container_responsive {
		transform: none;
		z-index: 4;
	}

	.nav_nav_close_btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.nav_a {
		font-size: 1.5rem;
		margin-right: auto;
		margin-left: auto;
	}
}
