
.content {
  text-align: center;
  padding: 1rem;
  text-decoration: none;

  height: 270px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-weight: 800;
  border-radius: 6px;

  width: 300px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  position: relative;
}
  
   .content::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
   }
  
   .content::after{
    content: "";
     display: block;
     position: absolute;
     left: 5px;
     right: 5px;
     top: 5px;
     bottom: 5px;
     overflow: hidden;
   } 
  
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  

  
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ffe2ed;
  }