.carousel {
    width: 100%;
    height: 100%;
    height: calc(90vh - 80px);
  }
  
  .slide {
    width: 100%;
    display: flex;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    justify-content: center;
    align-items: center;
    
  }
  
  .text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.button{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    opacity: 0.8;
    font-size: xx-large;
    cursor: pointer;
    z-index: 3;
}

.button:hover{
    opacity: 1;
}

.prev{
    /* left: 1rem; */
    left: -10%;
    top: calc(50% - 40px);
    background: url(../../public/btn-prev.png);
    background-size: cover;
}

.next{
    /* right: 1rem; */
    right: -10%;
    top: calc(50% - 40px);
    background: url(../../public/btn-next.png);
    background-size: cover;
    
}

.text{
    /* background-color: rgba(234, 198, 150, 0.8); */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.decoded {
    overflow-wrap: break-word;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .decoded > * {
    max-height: 100%;
    max-width: 100%;
 }

 .scrollIndicator {
    position: absolute;
    width: 100%;
    text-align: center;
    pointer-events: none;
    bottom: 0;
  }

 .decoded::-webkit-scrollbar {
    display: none;
  }

 @media only screen and (max-width: 800px) {

    .decoded{
        max-width: 400px;
        max-height: 600px;
    }
}

 @media only screen and (max-width: 600px) {

    .button{
        width: 50px;
        height: 50px;
    }

    .prev{
        left: 0.1rem;
        top: calc(50% - 50px);
    }
    
    .next{
        right: 0.1rem;
        top: calc(50% - 50px);
    }

    .decoded{
        max-width: 220px;
        max-height: 450px;
        margin-top: -20%;
    }

}
