.gridContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 6fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 20px;
    color: var(--white); 
    font-size: 1.3rem;
  }

  .header {
    font-weight: 700;
  }

  .name {
    font-weight: 700;
    font-size: 1.3rem;
  }
  
  .headerRight {
    font-weight: 700;
    text-align: right;
  }
  
  .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    text-align: center;
    min-width: 75px;
  }

.ingredients_container{
    display: flex;
    padding: 4px 0 20px;
    flex-flow: wrap;
    color: var(--white);
}

.ingredients_container .ingredient{
  font-weight: 700;
  font-size: 14px;
}

.ingredients_container .ingredient:first-child{
  margin-right: 5px;
  content: ' |'; 
}

.ingredients_container .ingredient:not(:first-child){
    margin: 0 0px;
}

.ingredients_container .ingredient:last-child{
    margin-right: 0px;
}

.ingredients_container .ingredient:not(:last-child)::after {
    content: ' |'; 
    margin-left: 5px;
    margin-right: 5px;
}