 .box {
  height: 190px;
  border: solid 1px var(--white);
  font-weight: 800;
  border-radius: 10px;
  margin-bottom: 1em;
  width: 300px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 10px;
  color: var(--white);
  overflow: hidden;
 }



 .box::after{
  /* content: "";
	 display: block;
	 position: absolute;
	 left: 5px;
	 right: 5px;
	 top: 5px;
	 bottom: 5px;
   overflow: hidden; */
 }

 .date{
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.3rem;
 }

.box .food{
  margin-top: 10px;
  text-align: left;
  list-style-position: inside;
  padding-left: 10px;
}

.decoded {
  overflow-wrap: break-word;
  padding-left: 30px;
  font-size: 1.3rem;
}