
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%; /* Fontos a teljes magasság beállítása */
  overflow: auto;
}

body {
  background: url("../public/Oazis-test-bg.png") no-repeat center center fixed; 
  background-size: cover; /* A háttérkép lefedi az egész oldalt */
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
 --primaryColor: rgb(154,65,222);
 --secondaryColor: black;
 --textColor: #fff;
 --grey: rgba(12, 12, 13, 0.78);
 color: #fff ;
}